.pendingContainer {
/*  width: 300px;*/
/*  margin-left: 150px;*/
}

.flex-container {
  display:flex;
/*  justify-content: space-between;*/
  justify-content: space-around;

  flex-direction: row;
  flex-wrap: wrap;
  overflow: scroll;
  height: 990px;
}

.completedContainer {
/*  right: 20%;*/
/*  width: 300px;*/
/*margin-right: 200px;*/
}

.flex-container-complete {
/*  width: 300px;*/
/*  float:right;*/
/*  margin-top:-2000px;*/
/*  margin-right:350px;*/
  top:0;

/*  position:absolute;*/
/*  right: 15%;*/

}
