<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Blink Landing Page</title>
  <link rel="stylesheet" href="landing.css">
  <link rel="stylesheet" href="normalize.css">
  <link href="https://fonts.googleapis.com/css?family=Baloo+Bhaina|Open+Sans" rel="stylesheet">
</head>
<body>
<div class="main-container">


  <div class="logo-container">

  <div class="logo"></div>
    <span id="logo-text"> Blink </span>
    <span id="tag-line"> Conquer your bucket list </span>
  </div>


  <div class="sign-in">
  <span> <a href="https://accounts.google.com/o/oauth2/auth?access_type=offline&scope=https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fuserinfo.email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fuser.birthday.read%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fplus.login&prompt=consent&response_type=code&client_id=491020538989-p7rt3a2bpl8qloj56qedsd327q5sg10p.apps.googleusercontent.com&redirect_uri=http%3A%2F%2Flocalhost%3A3001%2Flogged%2F"> <div id="login-button">Sign In</div> </a></span>


  </div>
</div>

</body>
</html>
