.add-button {
  font-size: 1.5em;
/*  border-radius: 1px;*/
  background-color: #0BD4C6;
 /* background-color: #222;*/
  color: white;
  height: 60px;
  width: 480px;
  padding-left: 40px;
  padding-right: 40px;
  margin-top:-65px;
  margin-bottom: 50px;
  margin-left:35px;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
/*  -webkit-box-shadow: 6px 7px 9px -6px rgba(210,212,211,1);
-moz-box-shadow: 6px 7px 9px -6px rgba(210,212,211,1);
box-shadow: 6px 7px 9px -6px rgba(210,212,211,1);*/
/*  position: absolute;*/
}

.complete-button{
    font-size: 1.5em;
/*  border-radius: 1px;*/
/*background-color: tomato;*/
  background-color: #0BD4C6;
 /* background-color: #222;*/
  color: white;
  height: 60px;
  width: 480px;
 /* padding-left: 40px;*/
  padding-right: 40px;
  margin-top:-65px;
  margin-bottom: 50px;
/*  margin-left:36px;*/
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  -webkit-box-shadow: 6px 7px 9px -6px rgba(210,212,211,1);
-moz-box-shadow: 6px 7px 9px -6px rgba(210,212,211,1);
box-shadow: 6px 7px 9px -6px rgba(210,212,211,1);
}

.add-button:hover{
  background-color: #006466;
  outline: none;
}

.add-button:active{
  animation: pulse .3s;
  outline: none;
}
/*css pulse animation from https://github.com/daneden/animate.css */
@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

.pulse {
  animation-name: pulse;
}

