.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 120px;
  padding: 20px;
  color: white;
/*  background-image: url(../public/ocean_cropped.jpg);*/
  background-repeat: no-repeat;
  background-size: contain;

}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.logo-text {
  font-size: 105px;
  line-height: 150px;
  color: #0BD4C6;
  font-family: 'Baloo Bhaina', cursive;
  position: absolute;
  margin-top: -25px;
  width: 300px;
  /*padding-left: 105px;*/

  /*float:right;*/
}
