.SearchItemContainer{
  display:flex;
  flex-direction: row;
/*  flex-direction: reverse;*/
/*  justify-content: flex-end;*/
  flex-wrap: wrap;
  justify-content: center;
 /* background-color: gray;*/
  width: 100vw;
/*  height: 110vh;*/
height: 100%;
  margin:auto;
  align-items: baseline;
  overflow:scroll;
  height:80vh;
}
