#logo-text {
  font-size: 105px;
  line-height: 150px;
  /*color: #008B8B;*/
  color: #0BD4C6;
  font-family: 'Baloo Bhaina', cursive;
  position: relative;
  padding-left: 105px;

  /*float:right;*/
}
